**/.ipynb_checkpoints/
**/__pycache__/
**/.DS_Store/
venv
stable-diffusion-v1-5
stable-diffusion-3.5-large/
M3DDM-Video-Outpainting
M3DDM-Plus
data
train_data
.comet.config
comet_logs
lightning_logs
output
test
qualitative
bash
evaluation
